# --- OS & IDE ---
.DS_Store
.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# --- Synced Styles / Packages ('vale sync') ---
styles/Microsoft/
styles/Google/
styles/alex/
styles/proselint/
styles/Readability/
styles/write-good/
styles/Joblint/
.vale/

# --- Generated Reiews ---
reviews/*__review.md

# --- Other ---
*.vsix
.history/
