{{- range .Files }}# Review for {{ .Path }}
{{ range .Alerts }}
- **Line {{ .Line }}**: [{{ .Severity }}] *{{ .Check }}*
  - **Found**: `{{ .Match }}`
  - **Issue**: {{ .Message }}
{{ end }}

{{- end }}
