{{- range .Files -}}
# Review of {{ .Path }}

## Readability

Ensure content is accessible to all users across all devices by reducing cognitive load and improving scannability.

### Assessment

{{ range .Alerts }}
    {{- if or (eq .Check "Library.Metric_GradeLevel") (eq .Check "Library.Metric_ReadingEase") }}
- {{ .Message }}
    {{- end }}
{{- end }}

### Structural Issues (Sentences & Paragraphs)

{{ range .Alerts }}
    {{- if eq .Check "Library.Structure_Length" }}
* **[{{ .Severity | upper }}]** {{ .Message }}
  **Context:** "{{ printf "%.100s" .Match }}..."
  **Location:** Line {{ .Line }}

{{ end }}
{{- end }}

---

### Other Style Issues
{{ range .Alerts }}
    {{- if and (ne .Check "Library.Metric_GradeLevel") (ne .Check "Library.Metric_ReadingEase") (ne .Check "Library.Structure_Length") (ne .Check "Library.Structure_Length-orig") }}
* **[{{ .Severity | upper }}]** Line {{ .Line }}: [{{ .Check }}] {{ .Message }}
    {{- end }}
{{- end }}
{{ end -}}
