{{- range .Files -}}
{{- /* Variable Initialization */ -}}
{{- $gl := "No data recorded" -}}
{{- $re := "No data recorded" -}}
{{- /* Data Collection & Prioritization */ -}}
{{- range .Alerts -}}
  {{- if eq .Check "GradeLevel.Difficult" }}{{ $gl = .Message -}}
  {{- else if and (eq .Check "GradeLevel.Complex") (eq $gl "No data recorded") }}{{ $gl = .Message -}}
  {{- else if and (eq .Check "GradeLevel.Academic") (eq $gl "No data recorded") }}{{ $gl = .Message -}}
  {{- else if and (eq .Check "GradeLevel.Accessible") (eq $gl "No data recorded") }}{{ $gl = .Message -}}
  {{- end -}}
  {{- if eq .Check "ReadingEase.Low" }}{{ $re = .Message -}}
  {{- else if and (eq .Check "ReadingEase.Moderate") (eq $re "No data recorded") }}{{ $re = .Message -}}
  {{- else if and (eq .Check "ReadingEase.Easy") (eq $re "No data recorded") }}{{ $re = .Message -}}
  {{- end -}}
{{- end -}}
# Review of {{ .Path }}

## Reading Ease & Level

| Metric | Target | Score (interpretation) |
| ------ | ------ | ----- |
| Reading Ease | 70 or higher. | {{ $re }} |
| Grade Level | 8 or lower. | {{ $gl }} |

## Readability

{{ range .Alerts -}}
  {{- if and (contains .Check "Readability.ParagraphLength") -}}

**{{ .Severity | upper }}**: {{ .Message }}

  - **Location**: Line {{ .Line }}
  - **Context**: {{ printf "%.75s" .Match }}...
  {{ end -}}
{{- end -}}
{{ range .Alerts -}}
  {{- if and (contains .Check "Readability.SentenceLength") }}
**{{ .Severity | upper }}**: {{ .Message }}

  - **Location**: Line {{ .Line }}
  - **Context**: {{ printf "%.75s" .Match }}...
  {{ end -}}
{{- end }}

## Library Style

{{ range .Alerts -}}
  {{- /* Grouping LibraryStyle (12 characters) */ -}}
  {{- if eq (printf "%.12s" .Check) "LibraryStyle" }}
**{{ .Severity | upper }} ({{ .Check }})**: {{ .Message }}

  - **Location**: Line {{ .Line }}
  - **Context**: {{ .Match }}...
  {{ end -}}
{{- end }}

## Other Styles

{{ range .Alerts -}}
  {{- /* Example for a style with a 3-character prefix like 'GSU' */ -}}
  {{- if eq (printf "%.3s" .Check) "GSU" -}}
- **{{ .Severity | upper }}**: {{ .Message }}
  - **Location**: Line {{ .Line }}
  - **Context**: {{ .Match }}...

  {{ end -}}
{{- end }}

{{- end -}}
